<textarea class="form-control ssh-answer nbc-font" rows="3">
</textarea>
<textarea class="form-control ssh-command nbc-font" rows="1" style="max-height: 28pt;">
</textarea>
<div class="btn-group btn-group-toggle" data-toggle="buttons"  style="max-height: 28pt; width: 100%;">
  <% @scenarios.each do |scenario| %>
    <label class="btn">
      <input type="radio" name="options" id="option1" autocomplete="off" checked class="nbc-orange"><%= scenario.name %>
    </label>
  <% end %>
</div>
<% groups = @services.map { |service| service.group }.uniq %>
<% groups.each do |group| %>
  <span class="col col-6 shadow-lg p-1 mb-1 bg-white rounded align-self-start">
    <% group_services = @services.map { |service| service if service.group == group }.compact %>
    <h6 id="center" class="card-header text-monospace" style="height:25px; padding-top:4px;">
      <%= group.name %>
    </h6>
    <%= render 'index', services: group_services %>
  </span>
<% end %>
