<div class="col col-md-5">
  <h2 id="center" class="card-header"><%= t('.new_server') %></h2>
  <div class="card text-white mb-3 nbc">
    <div class="card-body">
      <%= render 'form', server: @server %>
      <br>
      <%= link_to t('.back'), servers_path, class: "btn btn-light" %>
    </div>
  </div>
</div>
