<div class="col col-md-5">
  <h2 align=center class="card-header"><%= t('.update_group') %></h2>
  <div class="card text-white mb-3 nbc">
    <div class="card-body">
      <%= render 'form_new', group: @group %>
      <br>
      <%= link_to t('.back'), groups_path, class: "btn btn-light" %>
    </div>
  </div>
</div>
