<nav class="navbar fixed-bottom navbar-light bg-light">
  <span class="navbar-text">
    <% flash.each do |key, message| %>
      <%= content_tag :p, message, class: "flash #{key}" %>
    <% end %>
  </span>
</nav>
