.nbc {
  background-color: #8B008B;
}

.nbc-orange {
  background-color: #FF8C00;
}

.nbc-bs {
  max-height: 16pt;
  line-height: 12px;
}

.nbc-tr {
  line-height: 18px;
}

.nbc-font {
  font-size: 11pt;
}

#center {
  text-align: center;
}