<table class="table table-sm bg-light">
  <% columns_default = services.size / Scenario::MAX_ROWS_IN_COLUMN + 1 %>
  <% columns = columns_default > Scenario::MAX_COLUMNS ? Scenario::MAX_COLUMNS : columns_default %>
  <% rows = services.size / columns + 1 %>
  <% row_counter = 0 %>
  <% rows.times do %>
    <td>
      <% index = row_counter %>
      <td></td>
      <% columns.times do %>
        <% if services[index] %>
          <td>
            <div class="form-check">
              <% service_name = services[index].name %>
              <input class="form-check-input" type="checkbox" value="" id=<%= service_name %> />
              <label class="form-check-label nbc-font" for=<%= service_name %> >
                <%= service_name %>
              </label>
            </div>
          </td>
          <td>
            <input type="number" d=<%= "num_#{service_name}" %> min="1" max="9">
          </td>
          <% index += rows %>
        <% end %>
      <% end %>
      <% row_counter += 1 %>
    </tr>
  <% end %>
</table>
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>