<table class="table table-sm bg-light">
  <% rows_and_columns = @scenario.rows_and_columns(services.size) %>
  <% row_counter = 0 %>
  <% rows_and_columns[0].times do %>
    <tr>
      <% index = row_counter %>
      <% rows_and_columns[1].times do %>
        <% if services[index] %>
          <td nowrap="nowrap">
            <div class="form-check">
              <% service_name = services[index].name %>
              <input class="form-check-input" type="checkbox" value="" id=<%= service_name %> />
              <label class="form-check-label nbc-font" for=<%= service_name %> >
                <%= service_name %>
              </label>
            </div>
          </td>
          <td>
            <input type="number" style="max-width: 40px" d=<%= "num_#{service_name}" %> min="1" max="99">
          </td>
          <% index += rows_and_columns[0] %>
        <% end %>
      <% end %>
      <% row_counter += 1 %>
    </tr>
  <% end %>
</table>
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>