// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

$skinMainFirstColor: #5B008B!default;
$skinMainSecondColor: #FF4C00!default;
$skinBorderWindowColor: #B8BABE!default;

@import "wigu/active_admin_theme";

.flashes {
  .flash {
    color: #ffffff;
    background-image: none;
    text-shadow: none;
  }

  .flash_notice {
    background-color: #CD3333;
    border-bottom: 2px solid #962F2F;
  }
  .flash_warning {
    background-color: #FDBC45;
    border-bottom: 2px solid #FB8A3D;
  }
  .flash_error {
    background-color: #CD3333;
    border-bottom: 2px solid #962F2F;
  }
}

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
