<div class="col col-md-5">
  <h2 id="center" class="card-header"><%= t('.edit_user') %></h2>
  <div class="card text-white nbc">
    <div class="card-body">
      <%= render 'form', user: @user %>
      <br>
      <%= link_to t('.back'), admin_users_path, class: "btn btn-light" %>
    </div>
  </div>
</div>
